{% extends "home.layout.html.twig" %}

{% block body %}
    
    <!-- ========================= search-section start ========================= -->
		<section class="search-section pt-1">
			
			<div class="container">
                <div class="row justify-content-center">
					<div class="col-xxl-5 col-xl-6 col-lg-7">
						<div class="section-title text-center mb-5">
							<h1 class="mb-25">Bonjour, c'est Zaenma</h1>
						</div>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-xl-5 col-lg-6 order-last order-lg-first">
						<div class="search-content">
							<div class="section-title mb-40">
								<h1 class="mb-5 mt-5" data-wow-delay=".2s">ingénieur IT</h1>
								<p class=""> <h4></h4>Doté d'une passion pour les technologies de pointe et d'un désir ardent d'apprendre et de grandir dans le milieu de la technologie, en combinat mes compétences en développement web et en base de données pour la création des applications web robustes, modernes, élégantes et fonctionnelles pour les utilisateurs finaux.</p>
							</div>
							<div class="app-info mt-5">
								<div class="single-info">
									<h4>Ceci est donc le point de démarage de mes application PHP</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-7 col-lg-6">
						<div class="search-img text-lg-right">
							<img class="img-fluid" src="/public/assets/images/image.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= search-section end ========================= -->

        
{% endblock %}